@import de.htwg.se.beads.model.templateComponent.templateBaseImpl.Stitch
@(controller:de.htwg.se.beads.controller.controllerComponent.ControllerInterface)
@import controllers.javaColorToRGB.toRGB
@import de.htwg.se.beads.aview.gui.beadSizeMap

@length= @{ controller.tempLength}
@width = @{controller.tempWidth}
@stitch = @{controller.stitch}

@beadSize =@{0.22}


@main("HTWG Beads") {
    <h1 style="text-align: center; margin: 25px 0 25px"> HTWG Beads</h1>

    <div class="gamecontainer" style="text-align: center; margin: 0 0 25px">
        <div class="game">
            @if(stitch.equals(Stitch.Brick)){

                @for(row <- 0 until length) {
                    <div class="house size">
                        @if(row % 2 != 0){
                            <span class="bead">
                                __
                            </span>
                        }
                    @for(col <- 0 until width) {
                        <span class="bead" style="background: @{toRGB(controller.bead(row,col).beadColor)}">
                                |__|
                        </span>
                    }
                    </div>
                }
            }else {
                @for(row <- 0 until length) {
                    <div class="house size">
                        @for(col <- 0 until width) {
                            <span class="bead" style="background: @{toRGB(controller.bead(row,col).beadColor)}">
                                |___|
                            </span>
                        }
                    </div>
                }
            }
        </div>
    </div>

    <div class="info">
        <table style="margin-left: auto; margin-right: auto; margin-top: 25px">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
@*                                //pattern*@
                                <fieldset style="text-align: left; height: 100px"><legend>Pattern Properties</legend>
                                <table>
                                    <tr>
@*                                        //Stitch*@
                                        <td><label for="stitch">Stitch</label></td>
                                        <td>
                                            <select name="stitch" id="stitch" style="width: 170px; height: 23px" >
                                                @if(controller.stitch.eq(Stitch.Brick)){
                                                    <option selected="brick">Brick</option>
                                                    <option value="square">Square</option>
                                                } else {
                                                    <option value="brick">Brick</option>
                                                    <option selected="square">Square</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="columns">Columns</label></td>
                                        <td><input type="number" name="columns" style="text-align: right"
                                        value="@{controller.tempWidth}" readonly></td>
                                        <td><input type="text" name="sizecol" style="text-align: right;background: lightgray"
                                        value="@{(beadSize * controller.tempLength).toString + "cm"}" readonly></td>
                                    </tr>
                                    <tr>
                                        <td><label for="rows">Rows</label></td>
                                        <td><input type="number" name="rows" style="text-align: right"
                                                                    value="@{controller.tempLength}" readonly></td>
                                        <td><input type="text" name="sizerows" style="text-align: right; background: lightgray"
                                        value="@{(beadSize * controller.tempWidth).toString + "cm"}" readonly></td>
                                    </tr>
                                </table>
                                </fieldset>
                            </td>
                            <td>
@*                                //size*@
                                <fieldset style="text-align: center; height: 100px"><legend>Bead Size</legend>
                                    <table cellspacing="10px">
                                        <tr>
                                            <td>
                                                <select name=beadSize id="size" style="height: 23px;width: 90px">
                                                    <option value="6/0">6/0</option>
                                                    <option value="7/0">7/0</option>
                                                    <option value="8/0">8/0</option>
                                                    <option value="9/0">9/0</option>
                                                    <option value="10/0">10/0</option>
                                                    <option value="11/0">11/0</option>
                                                    <option value="12/0" selected>12/0</option>
                                                    <option value="15/0">15/0</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="button" name="fillTemp" value="Fill Template" style="width: 90px;height: 23px"></td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
 @*                 //colorcooser*@
                    <fieldset style="text-align: center; height: 100px"><legend>Colors</legend>
                    <input type="color" id="colorchooser" style="margin-top: 30px">
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>

    <div style="text-align: center; margin-top: 30px">
        <a href="/about" style="font-size: 18px">
            About Beads
        </a>
    </div>

}