@import de.htwg.se.beads.model.templateComponent.templateBaseImpl.Stitch
@(controller:de.htwg.se.beads.controller.controllerComponent.ControllerInterface)
@import controllers.javaColorToRGB.toRGB
@import de.htwg.se.beads.aview.gui.beadSizeMap

@length= @{ controller.tempLength}
@width = @{controller.tempWidth}
@stitch = @{controller.stitch}

@beadSize =@{0.22}


@main("HTWG Beads") {

    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>
    <h1>HTWG Beads</h1>

    <div class="templateContainer">
        <div class="template">
            @if(stitch.equals(Stitch.Brick)){

                @for(row <- 0 until length) {
                    <div class="house size">
                        @if(row % 2 != 0){
                            <span class="bead">
                                __
                            </span>
                        }
                    @for(col <- 0 until width) {
                        <span class="bead" style="background: @{toRGB(controller.bead(row,col).beadColor)}">
                                |__|
                        </span>
                    }
                    </div>
                }
            }else {
                @for(row <- 0 until length) {
                    <div class="house size">
                        @for(col <- 0 until width) {
                            <span class="bead" style="background: @{toRGB(controller.bead(row,col).beadColor)}">
                                |___|
                            </span>
                        }
                    </div>
                }
            }
        </div>
    </div>

<div class="container">
    <fieldset class="fieldset" id="patternProp"><legend class="fieldset_label">Pattern Properties</legend>
        <table>
            <tr>
                <td>
                    <label for="stitch">Stitch</label>
                </td>
                <td>
                    <select class="select" id="stitch">
                    @if(controller.stitch.eq(Stitch.Brick)){
                        <option selected="brick">Brick</option>
                        <option value="square">Square</option>
                    } else {
                        <option value="brick">Brick</option>
                        <option selected="square">Square</option>
                    }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="columns">Columns</label>
                </td>
                <td>
                    <input type="number" id="columns" class="sizeInput"
                    value="@{controller.tempWidth}" readonly>
                </td>
                <td>
                    <input type="text" id="sizecol" class="sizeCm"
                    value="@{(beadSize * controller.tempWidth).toString + "cm"}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="rows">Rows</label>
                </td>
                <td>
                    <input type="number" id="rows" class="sizeInput"
                    value="@{controller.tempLength}" readonly>
                </td>
                <td>
                    <input type="text" id="sizecol" class="sizeCm"
                    value="@{(beadSize * controller.tempLength).toString + "cm"}" readonly>
                </td>
            </tr>
        </table>
    </fieldset>

    <fieldset class="fieldset" id="beadSize"><legend class="fieldset_label">BeadSize</legend>
        <table>
            <tr>
                <td>
                    <select class="select" id="size">
                        <option value="6/0">6/0</option>
                        <option value="7/0">7/0</option>
                        <option value="8/0">8/0</option>
                        <option value="9/0">9/0</option>
                        <option value="10/0">10/0</option>
                        <option value="11/0">11/0</option>
                        <option value="12/0" selected>12/0</option>
                        <option value="15/0">15/0</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="fillButton" value="Fill Template" >
                </td>
            </tr>
        </table>
    </fieldset>

    <fieldset class="fieldset" id="colors"><legend class="fieldset_label">Colors</legend>
        <input type="color" id="colorChooser">
    </fieldset>
</div>

    <div style="text-align: center; margin-top: 1em">
        <a href="/about">
            About Beads
        </a>
    </div>

}