@()

@main("HTWG Beads") {

    <h1>Huichol Art</h1>

    <p>
        Huichol beading is a style of beadwork originating with the indigenous people of the
        mountain ranges of north central Mexico. <br>
        <img src=@routes.Assets.versioned("/images/Huichol1.jpg")>
    </p>

    <p>
        Two types of beadwork are especially popular. "Yarn Paintings," where commercial yarn coated with wax or resin
        are pressed onto shapes, such as bowls or masks, and then covered with individual beads to form intricate and
        colorful designs. The other form of beadwork is bright bead weaving designs in shapes that reflect the Huichol's
        respect of nature and their religious traditions. Shapes such as flowers, plants, and animals are popular. <br>
        <img src=@routes.Assets.versioned("images/Huichol2.jpg")>
    </p>

}